
<div>
<img id="img1" src="/images/foto1.jpg" height="120" width="auto">
<br>
<p id="nm1"><strong>  Nombre: <%= author %></strong></p>
<br>
<br>
</div>
<div  max-width="560" max-height="315">
	<iframe width="100%" max-width="560" height="315" src="https://www.youtube.com/embed/8AO7WM_cDVE" frameborder="0" allowfullscreen></iframe>
</div>